<!--
© Siemens AG, 2018
Author: Berkay Alp Cakal (berkay_alp.cakal.ct@siemens.com)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
<http://www.apache.org/licenses/LICENSE-2.0>.
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<!-- <param name="port" value="9090"/> -->
	</include>

	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">
		<arg name="x_pos" default="0.0"/>
		<arg name="y_pos" default="0.5"/>
		<arg name="z_pos" default="0.0"/>
	</include>
	<!-- mapping -->
	<!-- <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" ></include> -->
	<!-- <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"></include> -->
	<!-- <include file="$(find turtlebot3_teleop)/launch/keyboard_teleop.launch"></include>  -->
	
	<!-- 接收urdf -->
	 <!-- <node name="file_server" pkg="file_server" type="file_server" output="screen"/> -->
	 <!-- 发送urdf-->
	 <!-- $ roslaunch file_server publish_description_turtlebot2.launch -->


	<node name="joy_to_twist" pkg="gazebo_simulation_scene" type="joy_to_twist.py" />

	<node name="map_to_image" pkg="map_to_image" type="map_to_image.py" output="screen"/>

	<!-- <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="screen" /> -->
	<arg name="workspace_path" default="/home/fengsc/Desktop/turtlebot3"/>
	<arg name="shell" default="zsh" />
	<arg name="map_dir" default="/home/fengsc/Desktop/turtlebot3/Map" /> 
	<node name="order_receive" pkg="order_receive" type="order_receive.py" args="$(arg workspace_path) $(arg shell) $(arg map_dir)" output="screen"/>
	<node name="pose_init" pkg="nav_control" type="pose_init.py" output="screen"/>
	<node name="target_pub" pkg="nav_control" type="target_pub.py" output="screen"/>

	<!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" /> -->

         <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find file_server)/rviz/config.rviz" required="true" />  -->

</launch> 
